<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Home</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Sagar's Blog Application</h1>
    <hr />
   <ul>
       <li><a th:href="@{/posts/new}">New Post</a></li>
   </ul>
    <div class ="posts-container">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/posts/'+${post.id}}"
                   th:text="${post.title}"></a></h2>
            <h5 th:text="'published on ' +${post.createdAt}"></h5>
            <h5 th:text="'written by ' +${post.account.firstName}">Account First Name</h5>
            <p th:text="${post.body}"> Body Text </p>
            <br/>
        </div>
    </div>
    <hr/>
    <ul>
        <li><a th:href="@{/register}">Register</a></li>
        <li><a th:href="@{/login}">Login</a></li>
    </ul>
</div>
</body>
</html>
